body{
  font-size:12px;
}

@media screen and (min-width: 1800px) and (min-height: 900px) {
   html {
      zoom:1.1;
   }
}

@media screen and (max-width: 1200px) and (max-height: 800px) {
   html {
      zoom:0.8;
   }
}



/* NAVBAR ------------------------------------------------------------------*/
.navbar {
  background-color:#0a0203;
  border:none;
  padding-top:0;
  margin-bottom:0;
  min-height:55px; /* define min height and include padding in dashboard container */

}
.navbar-logo{
  margin:0;
}
.navbar-logo img {
  max-width:300px;
  height:55px;
  padding-top:0;
  margin-top:0;
  padding-left:0;
  padding-right:10px;
}
.navbar-author{
  margin-left: 20px;
  font-weight: 200;
  color:#a3acb5;
  font-size:12px
}
.navbar-brand {
    float: left;
    padding: 10px 0 0 15px;
    font-size: 35px;
    color: #3cbcea;
    line-height: 30px;
    min-height: 55px;
    font-weight: 400;
}
@media only screen and (min-width: 768px){
.navbar>.container-fluid .navbar-brand {
    margin-left: 0;
}}
.navbar-nav {
  margin-top:10px;
  font-size:1.3em;
  margin-left:30px;
}
.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.open>a,.navbar-inverse.navbar-nav>.close>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
    color: black;
    background-color: #3cbcea;
    border-radius:2px;
    border:none;
}
.navbar-nav>li>a{
  padding-top:10px;
  padding-bottom:10px;
  line-height: 15px;
  margin-right:10px;
}
.navbar-inverse .navbar-nav>li>a {
  color:#3cbcea;
}
.navbar-inverse .navbar-nav >li > a:hover{
  background-color:#a3acb5;
  border-radius:2px;
}
.navbar-nav>li>.dropdown-menu {
    margin-top: 2px;
    border-radius: 2px;
    background-color:#a3acb5;
    border:none;
    padding-bottom:0;
    padding-top:0;
}
.navbar-nav .dropdown-menu>li>a {
    padding: 7px 20px;
    border-radius:2px;
    clear: both;
    font-weight: normal;
    color: black;
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus {
    color: white;
    background-color: #a3acb5;
    border-radius:2px;
    border:none;
}
.navbar-nav .dropdown-menu>.active>a, .navbar-nav .dropdown-menu>.active>a:hover, .navbar-nav .dropdown-menu>.active>a:focus {
    color: white;
    background-color: #3cbcea;
}
.navbar-nav .dropdown-menu>li>a:hover, .navbar-nav.dropdown-menu>li>a:focus {
    color: white;
    background-color: #a3acb5;
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: #3cbcea;
    border-radius:2px;
}
.pull-left{
  float:none !important;
}

/* SHINY ------------------------------------------------------------------*/
.form-group, .shiny-input-container{
  margin-bottom:12px;
}
.control-label{
  font-size:1.3em;
  font-weight:400;
  color:#3cbcea;
  margin-bottom:0;
}
.shiny-options-group{
  color:inherit;
}

/* SHINY slider input ------------------------------------------------------------------*/
.irs-min, .irs-max{
  background-color:#c6ccd2;
  color:inherit;
}
.irs-line {
  border:none;
  background: #c6ccd2;
}
.irs-bar, .irs-bar-edge,.irs-from, .irs-to, .irs-single{
    border:none;
    background-color: #3cbcea;
}
.irs-single{
  border-radius:2px;
}
.irs-grid-pol,.irs-grid-pol.small {
    border:none;
    background-color: #c6ccd2;
}
.irs-slider {
    top: 20px;
    width: 17px;
    height: 17px;
    border: 1px solid white;
    background: #3cbcea;
}

/* SHINY selectize-input ------------------------------------------------------------------*/
.selectize-input {
    border-radius:2px;
    padding: 3px 8px;
    min-height:25px;
}
.selectize-input.full {
    background-color: #c6ccd2;
    color:black;
    border:none;
    border-radius:2px;
}
.selectize-dropdown{
    background-color: #c6ccd2;
    color:white;
    border-radius:2px;
    min-height:25px;
}
.selectize-control{
  margin-bottom:0;
}

/* SHINY radio-inline ------------------------------------------------------------------*/
.radio>input[type="radio"], .radio-inline>input[type="radio"]{
  position:absolute;
  margin-top:2px;
}
/* SHINY button ------------------------------------------------------------------*/
.btn{
    background-color: #26b48b;
    color: white;
    padding: 3px 10px;
    border: 1px solid #a3acb5;
    border-radius: 2px;
    font-size: 1em;
}
.btn:hover{
  background-color:#3cbcea;
  color:#646468;
  padding:3px 10px;
  border: 1px solid #a3acb5;
  border-radius:2px;
  font-size:1em;
}

/* SHINY date picker input ------------------------------------------------------------------*/
.shiny-date-input .form-control {
    height: inherit;
    padding: 5px 5px;
    font-size: 1.7em;
    font-weight:450;
    line-height: 1.42857143;
    color: white;
    background-color: #646468;
    border: none;
    border-radius: 2px;
    text-align: center;
}


.section.sidebar {
  top:55px;
  border:none;
  border-radius:0;
  padding-left:20px;
  padding-right:20px;
  background-color:#4b4b4e;

}
/* TABSET ------------------------------------------------------------------*/
.nav-tabs-custom > .nav-tabs {
  background-color:#646468;
  border-bottom:none;
  border-top:none;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
}
.nav-tabs-custom > .nav-tabs >li{
  font-size: 14px;
  border-radius: 2px 2px 0 0;
  border-top: none;
  margin-bottom: 0;
  margin-top:0;
  margin-right: 0;
}
.nav-tabs-custom > .nav-tabs > li > a:hover{
  font-size: 14px;
  border-radius: 2px 2px 0 0;
  background-color:#4b4b4e;
  color:white;
}
.nav-tabs-custom > .nav-tabs > li > a, .nav-tabs-custom > .nav-tabs > li > a:active{
  font-size: 14px;
  color:white;
  font-weight:normal;
  background-color:#646468;
  border:none;
  border-radius:2px 2px 0 0;
  padding:6px 10px 4px 10px;

}
.nav-tabs-custom > .nav-tabs > li.active >a {
  border: none;
}
.nav-tabs-custom > .nav-tabs > li.active > a, .nav-tabs-custom > .nav-tabs > li.active:hover > a{
  font-size: 14px;
  color:white;
  font-weight:normal;
  background-color:#3cbcea;
  border-radius:2px 2px 0 0;
  border-bottom: none;
}

/* panels ------------------------------------------------------------------*/

.chart-title {
  font-size: 14px;
  color:white;
  font-weight:normal;
  background-color:#646468;
  border-radius:2px 2px 0 0;
  border:none;
  text-align: center;
  padding-top: 6px;
  padding-right: 10px;
  padding-bottom: 4px;
  padding-left: 10px;

}
.chart-wrapper,.nav-tabs-custom, .sbframe-commentary {
  border-radius:2px;
  margin-bottom: 6px;
  margin-right: 6px;
}
.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 8px;
    padding-right: 15px;
}
.value-box > .inner {
    padding: 7px;
    padding-bottom:0;
    padding-left: 15px;
    padding-right: 15px;
}
.flowing-content-shim{
  padding-left:15px;
  padding-right:15px;
}
.chart-shim{
  margin:5px;
}


/* TABLES ------------------------------------------------------------------*/

.table>thead>tr>th{
  border: none;
  background: #a3acb5;
  padding:3px;
  padding-right:15px;
}
.table>tbody{
  border-bottom: 1px solid  #a3acb5;
  padding:2px;
  padding-right:15px;
}
.table>tbody>tr>td{
  border-top: none;
  padding:2px;
  padding-right:15px;
}
.shiny-table.spacing-s > tbody > tr > td {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right:15px;
}
.shiny-table.spacing-s > thead > tr > th{
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right:15px;
}
.table {
  margin-bottom:10px;
}


/* CUSTOM CLASSES ------------------------------------------------------------------*/
.sectiontitle{
  margin:0 0 0.5em 0;
  color:#3cbcea;
  font-size:1.3em;
  padding-top:0.75em;
  font-weight:500;
}

.mywell{
  background-color:#646468;
  border-radius:2px;
  padding: 8px 10px 5px 10px;
  border:none;
  color:white;
  margin-bottom:8px;
}
.vbblue{
  background-color:#3cbcea;
  border-radius:2px;
}
.vbblue .value {
  font-size:2em;
  color:white;
  font-weight:600;
  margin:0;
}
.vbblue .caption {
  color:white;
  font-weight:normal;
}

.vbdarkgrey1{
  background-color:#4b4b4e;
  border-radius:2px;
}
.vbdarkgrey1 .value {
  font-size:2em;
  color:white;
  font-weight:600;
  margin:0;
}
.vbdarkgrey1 .caption {
  color:white;
  font-weight:normal;
}

.vbdarkgrey2{
  background-color:#4b4b4e;
  border-radius:2px;
}
.vbdarkgrey2 .value {
  font-size:2em;
  color:#3cbcea;
  font-weight:600;
  margin:0;
}
.vbdarkgrey2 .caption {
  color:white;
  font-weight:normal;
}  
.vblightgrey{
  background-color:#646468;
  border-radius:2px;
}
.vblightgrey .value {
  font-size:2em;
  color:white;
  font-weight:600;
  margin:0;
}
.vblightgrey .caption {
  color:white;
  font-weight:normal;
}    
  
.bckg1{
  background-color:#646468;
}
.bckg2{
  background-color:#a3acb5;
}
.btn-mybtnclass{
    color: #3cbcea;
    background-color: #646468;
    border-color: #646468;
}

/* DT datatable ------------------------------------------------------------------*/
table.dataTable thead th{
  background-color: #a3acb5;
  border:none;
}

a.dt-button{
  margin-top:6px;
}
























